<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<!-- If you delete this tag, the sky will fall on your head -->
	<meta name="viewport" content="width=device-width" />

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<link rel="stylesheet" type="text/css" href="stylesheets/email.css" />

</head>

<body bgcolor="#FFFFFF">

	<!-- HEADER -->
	<table class="head-wrap" bgcolor="#999999">

	</table><!-- /HEADER -->

	<!-- {
	    font-size: 14px;
	    font-family: Arial,Helvetica,sans-serif, sans-serif;
	    color: #3c4858;
	} -->


	<!-- BODY -->
	<table class="body-wrap">
		<tr>
			<td></td>
			<td class="container" bgcolor="#FFFFFF">

				<div class="content">
					<table>
						<tr>
							<td>

								<p><img src="{{ img_src }}" style="display: block; margin: auto; margin-bottom: 5%;" /></p>

								<h4 style="text-align: center; margin-bottom: 10%">Bienvenue sur l'annuaire des anciens !</h4>
								<p>Félicitation ! Votre inscription au sein de l'annuaire des anciens du départment informatique de l'IUT de Metz à bien été validée.</p>
								<p style="margin-bottom: 5%">Les informations pour se connecter à votre compte personnel se trouvent ci dessous </p>

								<p style="margin-bottom: 5%">Login : {{ username }}
								<br>
								Mot de passe : {{ password }} </p>

								<p>Vous pouvez dès à présent vous connectez à votre compte en cliquant <a href={{ page ~ '?id=' ~ id }}>ici</a> pour modifier vos informations personnelles.</p>						



							</td>
						</tr>
					</table>
				</div>

			</td>
			<td></td>
		</tr>
	</table><!-- /BODY -->

	<!-- FOOTER -->
	<table class="footer-wrap">
		<tr>
			<td></td>
			<td class="container">

				<!-- content -->
				<div class="content">
					<table>
						<tr>
							<td align="center">
								<p>
									Younes GUARSSIFI |
									Etudiant LP WCE 	
								</p>
							</td>
						</tr>
					</table>
				</div><!-- /content -->

			</td>
			<td></td>
		</tr>
	</table><!-- /FOOTER -->

</body>
</html>